Repository meshag-ai/meshag: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-audit, cargo-test

cargo-audit:
  name: Cargo audit
  description: Check for security vulnerabilities
  entry: cargo audit
  language: system
  pass_filenames: false

cargo-test:
  name: Cargo test
  description: Run tests
  entry: cargo test
  language: system
  pass_filenames: false
  args:
  - --all-features
  - --workspace

feat: streamlined nats stream names, optimised docker builds and added ci cd pipeline
  .github/workflows/ci-cd.yml
  .gitignore
  Cargo.toml
  crates/orchestrator/src/router.rs
  crates/shared/src/lib.rs
  crates/shared/src/queue.rs
  docker/Dockerfile.base
  docker/Dockerfile.llm-service
  docker/Dockerfile.stt-service
  docker/Dockerfile.transport-service
  docker/Dockerfile.tts-service
  docker/docker-compose.yml
  services/llm-service/src/lib.rs
  services/stt-service/src/lib.rs
  services/transport-service/Cargo.toml
  services/transport-service/src/lib.rs
  services/transport-service/src/main.rs
  services/tts-service/src/lib.rs
Due: cargo-audit, cargo-test

feat: streamlined nats stream names, optimised docker builds and added ci cd pipeline (#14)
  .github/workflows/ci-cd.yml
  .gitignore
  Cargo.toml
  crates/orchestrator/src/router.rs
  crates/shared/src/lib.rs
  crates/shared/src/queue.rs
  docker/Dockerfile.base
  docker/Dockerfile.llm-service
  docker/Dockerfile.stt-service
  docker/Dockerfile.transport-service
  docker/Dockerfile.tts-service
  docker/docker-compose.yml
  services/llm-service/src/lib.rs
  services/stt-service/src/lib.rs
  services/transport-service/Cargo.toml
  services/transport-service/src/lib.rs
  services/transport-service/src/main.rs
  services/tts-service/src/lib.rs
Due: cargo-audit, cargo-test

fix: gh workflow
  .github/workflows/ci-cd.yml
Due: none

fix: gh workflow (#15)
  .github/workflows/ci-cd.yml
Due: none

fix: added cargo lock file
  .gitignore
  Cargo.lock
Due: cargo-audit

fix: added cargo lock file (#16)
  .gitignore
  Cargo.lock
Due: cargo-audit

fix: platform slow issue
  .github/workflows/ci-cd.yml
Due: none

fix: docker image source
  docker/Dockerfile.llm-service
  docker/Dockerfile.stt-service
  docker/Dockerfile.transport-service
  docker/Dockerfile.tts-service
Due: none

fix: gh workflow name and image source
  .github/workflows/build-and-release.yml
Due: none

created shared message schema
  services/common/interrupt.rs
Due: cargo-test

feat: added support for arm64 in github workflow
  .github/workflows/build-and-release.yml
  docker/docker-compose.yml
Due: none

feat: added support for arm64 in github workflow (#19)
  .github/workflows/build-and-release.yml
  docker/docker-compose.yml
Due: none

fix: slow image build on arm machine
  .github/workflows/build-and-release.yml
  docker/Dockerfile.base
Due: none

fix: slow image build on arm machine (#20)
  .github/workflows/build-and-release.yml
  docker/Dockerfile.base
Due: none

CircleCI Commit
  .circleci/config.yml
Due: none

feat: reachitected multiple services to single image
  .github/workflows/build-and-release.yml
  Cargo.lock
  Cargo.toml
  crates/service-common/Cargo.toml
  crates/services/llm/Cargo.toml
  crates/services/llm/src/lib.rs
  crates/services/stt/Cargo.toml
  crates/services/stt/src/lib.rs
  crates/services/transport/Cargo.toml
  crates/services/transport/src/lib.rs
  crates/services/tts/Cargo.toml
  crates/services/tts/src/lib.rs
  docker/Dockerfile
  docker/Dockerfile.base
  docker/Dockerfile.llm-service
  docker/Dockerfile.stt-service
  docker/Dockerfile.transport-service
  docker/Dockerfile.tts-service
  docker/docker-compose.yml
  docker/prometheus.yml
  makefile
  services/meshag-service/Cargo.toml
  services/meshag-service/src/llm.rs
  services/meshag-service/src/main.rs
  services/meshag-service/src/stt.rs
  services/meshag-service/src/transport.rs
  services/meshag-service/src/tts.rs
Due: cargo-audit, cargo-test

feat: reachitected multiple services to single image (#21)
  .github/workflows/build-and-release.yml
  Cargo.lock
  Cargo.toml
  crates/service-common/Cargo.toml
  crates/services/llm/Cargo.toml
  crates/services/llm/src/lib.rs
  crates/services/stt/Cargo.toml
  crates/services/stt/src/lib.rs
  crates/services/transport/Cargo.toml
  crates/services/transport/src/lib.rs
  crates/services/tts/Cargo.toml
  crates/services/tts/src/lib.rs
  docker/Dockerfile
  docker/Dockerfile.base
  docker/Dockerfile.llm-service
  docker/Dockerfile.stt-service
  docker/Dockerfile.transport-service
  docker/Dockerfile.tts-service
  docker/docker-compose.yml
  docker/prometheus.yml
  makefile
  services/meshag-service/Cargo.toml
  services/meshag-service/src/llm.rs
  services/meshag-service/src/main.rs
  services/meshag-service/src/stt.rs
  services/meshag-service/src/transport.rs
  services/meshag-service/src/tts.rs
Due: cargo-audit, cargo-test

feat: git ignore
  .gitignore
Due: none

feat: update docker and readme
  README.md
  docker/Dockerfile
  docker/Dockerfile.fast
  docker/README.md
  docker/docker-compose.yml
  makefile
Due: none

feat: added test workflow
  .github/workflows/test.yml
  README.md
Due: none

feat: version bump
  Cargo.lock
  Cargo.toml
  crates/meshag-python/Cargo.toml
  docker/Dockerfile
  docker/Dockerfile.fast
  services/meshag-service/Cargo.toml
Due: cargo-audit

fix: pyo3 module
  README.md
  crates/meshag-python/src/lib.rs
Due: cargo-test

feat: readme and workflow
  .github/workflows/build-and-release.yml
  .github/workflows/test.yml
  README.md
Due: none

feat: Add Gemini API connector and fix Docker ARM64 compatibility
  crates/connectors/src/lib.rs
  crates/connectors/src/providers/gemini.rs
  crates/connectors/src/providers/mod.rs
  docker/docker-compose.yml
  services/meshag-service/src/llm.rs
Due: cargo-test

Path conditions:
  cargo-audit: any of: Cargo\.(toml|lock)$
  cargo-test: any of: \.rs$
